.publication-card-container {
  background-color: #ffffff;
  width: 60%;
  margin: 0 auto;
  color: black;
  padding: 20px;
  margin-bottom: 20px;
}

/* .publication-card-container h2 {
} */

.btn-action {
  display: flex;
  justify-content: flex-end;
}
